$color: steelblue;
.my-flix{
    color: $color;
}

$primary: rgb(46, 60, 139);
$body-bg: #2f3030;

$text-color: rgb(224, 224, 223);
.text{
    color: $text-color;
    text-overflow: ellipsis;
}
::placeholder{
    color: wheat;
}


@import '~bootstrap/scss/bootstrap.scss';