$color: steelblue;
.my-flix{
    color: $color;
}

$primary: rgb(46, 60, 139);
$body-bg: rgb(34, 33, 33);

$text-color: rgb(248, 237, 217);
.text{
    color: $text-color;
}
::placeholder{
    color: wheat;
}


@import '~bootstrap/scss/bootstrap.scss';